.code-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

.line-count {
  width: 75px;
  height: 600px;
  overflow: hidden;
  border: 1px solid #3a4253;
  border-radius: 8px;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  font-family: "Fira Code", "JetBrains Mono", Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 8px;
  box-sizing: border-box;
  text-align: right;
  user-select: none;
}

.line-number {
  height: 21px;
}

.editor {
  width: 1000px;
  height: 600px;
  resize: none;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
  overflow-wrap: normal;
  word-break: normal;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  border-radius: 8px;
  font-family: "Fira Code", "JetBrains Mono", Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  box-sizing: border-box;
}
